/*
@media (max-width: 768px) {
    .hamburger {
        display: block;
        font-size: 29px;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 20px;
        color: rgb(211, 217, 221);
        padding-right: 80px;
        z-index: 1100;
        transition: all 0.3s ease;
    }

    .hamburger:hover {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    }
  
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 50px;
        background-color: rgb(39, 42, 48);
        width: 0px;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transition: all 0.3s ease;
    }
  
    .nav-list.open {
        display: flex;
        width: 200px;
    }
  
    .nav-list li {
        margin: 15px;
    }
}
   */