/* .tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    width: auto;
    bottom: -48%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.15s;
    visibility: hidden;
    z-index: 100;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    bottom: -65%;
    opacity: 1;
} */