.work-card {
    background-color: rgb(50, 54, 61);
    padding: 30px;
    border-radius: 16px;
    width: 400px;
    display: inline-block;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    height: auto;
    text-align: left;
    color: rgb(211, 217, 221);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.4);
}

.work-pic {
    box-shadow: 0 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease;
}

.work-name {
    font-size: 26px;
    margin: 0;
    color: rgb(255, 255, 255);
}

.work-company {
    display: flex;
    align-items: center;
    gap: 30px;
    text-align: left;
}

.work-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.work-title {
    color: rgb(255, 255, 255);
    margin: 0;
    padding-left: 2px;
}

.work-duration {
    font-size: 14px;
    margin: 0;
    color: rgb(211, 217, 221);
    text-align: right;
}

.work-position {
    font-size: 14px;
    margin: 0;
    padding-left: 2px;
}

.work-company .work-pic:hover {
    width: 104px;
    height: 104px;
}
