footer {
    background-color: rgb(39, 42, 48);
    padding-top: 30px;
    padding-bottom: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.footer-container {
    color: rgb(78, 82, 86);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-copyright {
    margin-left: 110px;
    padding-right: 110px;
}

.footer-icons {
    font-size: 30px;
    padding-top: 26px;
    display: flex;
    gap: 25px;
}

.footer-linkedin {
    margin-left: 110px;
}

.footer-github, .footer-linkedin, .footer-email {
    color: rgb(211, 217, 221);
    transition: all 0.3s ease;
}

.footer-github:hover, .footer-linkedin:hover, .footer-email:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}
